body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  height: 100%;
  width: 100%;
}
.navbar-light {
  background-color: #000000;
}
.bg-black {
  background-color: #000000;
}
a {
  color: #e2e2e2;
  text-decoration: none;
}
.box {
  background: url("https://source.unsplash.com/PPXG_aN4IOo") no-repeat;
  background-size: cover;
  background-position: bottom;
  color: #ffffff;
  background-color: #000000;
  height: 260px;
  width: auto;
}
.box2 {
  background: url("https://source.unsplash.com/u76CN5rZeOU") no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #000000;
  height: 91.5vh;
  width: 100%;
}

/* .mainFrame {
  display: inline-block;
}
.mainContent {
  display: inline;
}
.sideBar {
  display: flex;
  background-color: #ffffff;
} */
.link {
  color: #acacac;
  text-decoration: none;
}
.link:hover {
  color: #e8786d;
  text-decoration: none;
}
a:hover {
  color: #e8786d;
  text-decoration: none;
}
.text-dark {
  color: #000;
}

.navbar-brand {
  font-family: "Rock Salt", cursive;
  font-size: x-large;
  font-weight: 400;
}
.active {
  color: #e8786d;
  border-bottom: 1px #8a8a8a solid;
}

.main {
  background-color: #ffffff;
  margin: 0;
}
.head {
  padding-top: 60px;
}
.head1 {
  padding-top: 160px;
}
.para {
  padding: 20px;
}
/* .para2 {
  align-items: right;
  padding: 25px 50px 30px 50px;
} */
.card {
  border: none;
  background-color: #252525;
  color: #ffffff;
}
.col {
  border: none;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

@media only screen and (max-width: 768px) {
  .head,
  .head1,
  .heading-3 {
    font-size: 1.4rem;
  }
  .active {
    display: none;
  }
  .head1 {
    padding-top: 70px;
  }
  .box2 {
    height: 100vh;
  }
  .box {
    background-position: top;
  }
}
@media only screen and (max-width: 1024px) {
  .head1 {
    padding-top: 70px;
  }
}
@media only screen and (max-width: 375px) {
  .head1 {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .head1 {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 425px) {
  .head1 {
    padding-top: 0px;
  }
}
@media only screen and (max-width: 425px) {
  .head1 {
    padding-top: 60px;
  }
}
